<div class="row col-12" style="--bs-gutter-x:0">
  <div class="col-6 remove-padding">
    <img width="100%;" src="../../../assets/tuition.jpg">
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center box-border padding-box">
    <h3>Tuition with love</h3>
    <p>We are a group of volunteers passionate about giving back to society</p>
    <p>We hope to provide needy students with free or subsidized tuition.</p>
    <button class="btn btn-primary">Join our program as a student</button>
  </div>
</div>
<div class="row col-12" style="--bs-gutter-x:0">
  <div class="col-6 d-flex justify-content-center align-items-center box-border padding-box">
    <h3>Volunteers needed</h3>
    <p>Passionate about teaching? Wanting an opportunity to show your appreciation for the community? </p>
    <p>Love your neighbours and provide for their needs</p>
    <button class="btn btn-secondary">Join our program as a tutor</button>
  </div>
  <div class="col-6 remove-padding" >
    <img width="100%;" src="../../../assets/volunteer.jpg">
  </div>
  
</div>