<div class="row col-12" style="--bs-gutter-x:0">
  <div class="col-6 remove-padding">
    <img class="pic" src="../../../assets/tuition.jpg">
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center box-border padding-box">
    <h3>Tuition with love</h3>
    <p class="p-main">We are a group of volunteers passionate about giving back to society</p>
    <p class="p-main">We hope to provide needy students with free or subsidized tuition.</p>
    <button class="btn btn-primary"><a class="remove-a" href="/tutee">Join our program as a student</a></button>
  </div>
</div>
<div class="row col-12" style="--bs-gutter-x:0">
  <div class="col-6 d-flex justify-content-center align-items-center box-border padding-box">
    <h3>Volunteers needed</h3>
    <p class="p-main">Passionate about teaching? Wanting an opportunity to show your appreciation for the community? </p>
    <p class="p-main">Love your neighbours and provide for their needs</p>
    <button class="btn btn-secondary"><a class="remove-a" href="/tutor">Join our program as a tutor</a></button>
  </div>
  <div class="col-6 remove-padding" >
    <img class="pic" src="../../../assets/volunteer.jpg">
  </div>
  
</div>