
<nav class="navbar navbar-expand-lg" style="background:#79C1CA">
  <a class="navbar-brand" href="#">Love202x Tuition</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" style="justify-content: space-between;"id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active"  href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tutee" routerLinkActive="active" ariaCurrentWhenActive="page">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tutor" routerLinkActive="active" ariaCurrentWhenActive="page">Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/status" routerLinkActive="active" ariaCurrentWhenActive="page">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/classes" routerLinkActive="active" ariaCurrentWhenActive="page">Join a class</a>
      </li>
      <li *ngIf="adminStatus == 'true'">
        <a class="nav-link" routerLink="/teachers" routerLinkActive="active" ariaCurrentWhenActive="page">List of Teachers</a>
      </li>
      <li *ngIf="adminStatus == 'false'" class="nav-item">
        <a class="nav-link" routerLink="/logging" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
      </li>
      <li *ngIf="adminStatus == 'true'" class="nav-item">
        <button class="btn btn-primary" (click)="Logout()">Logout</button>
      </li>
      </ul>

      

  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>